body{
      background-color: rgb(26, 26, 26);
      color: white;
      font-family: arial;
    }

    .title{
      font-size: 30px;
      font-weight: bold;
    }

    .move-icon{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .move-button{
      background-color: transparent;
      border: 3px solid white;
      border-radius: 49%;
      cursor: pointer;
      width: 120px;
      height: 120px;
      margin-right: 15px;
    
    }

    .result{
      font-size: 25px;
      font-weight: bold;
      margin-top: 50px;
    }

    .score{
      margin-top: 60px;
    }

    .reset-score-button{
      background-color: white;
      border: none;
      font-size: 15px;
      padding: 8px 15px;
      cursor: pointer;
    }